body {
        background-image: url("C:\Users\aoal121191.ALCOM.MX\Desktop\IVAN\Content\images\logo_negro.jpg");
        background-color: black;
}
h1 {
      color: red;
}

h2 {
      color: red;
}

h3 {
      color: red;
}
